.pagination{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.pagination__button{
  padding: 5px 10px;
  cursor: pointer;
}

.pagination__button:disabled{
  cursor: not-allowed;
}