.navbar {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: capitalize;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}

.navbar__input {
  background-color: transparent;
  border: none;
  color: var(--text);
  outline: none;
}

.navbar__icons{
  display: flex;
  gap: 20px;
}
