.products__{
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.products__top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products__addButton{
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products__table{
  width: 100%;
}

.products__table td{
  padding: 10px;
}

.products__product{
  display: flex;
  align-items: center;
  gap: 10px;
}

.products__productImage{
  border-radius: 50%;
  object-fit: cover;
}

.products__buttons{
  display: flex;
  gap: 10px;
}

.products__button{
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.products__view{
  background-color: teal;
}

.products__delete{
  background-color: crimson;
}