.card__ {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  cursor: pointer;
  width: 100%;
}

.card__:hover{
  background-color: #2e374a;
}

.card__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__number {
  font-size: 24px;
  font-weight: 500;
}

.card__detail {
  font-size: 14px;
  font-weight: 300;
}

.card__positive {
  color: lime;
}

.card__negative {
  color: red;
}
